* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body canvas {
  background: #060508;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body input {
  position: absolute;
  width: calc(100% - 20px);
  height: 5vh;
  padding: 10px;
  margin: 10px;
  border-radius: 1rem;
  z-index: 100;
  background-color: whitesmoke;
  border: 1px solid blue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: none;
}

button {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  border: 2px solid #2BF0F4;
  border-radius: 15px;
  padding: 1rem;
  min-width: 180px;
  z-index: 20;
  
}
button a {
  text-decoration: none;
  font-size: 1.3rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #E8FFFE;
}
button:hover {
  animation: shadow 2s linear alternate forwards;
}

button a :hover {
  color: #2BF0F4;
}

@keyframes shadow {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(20, 152, 230, 1);
  }

  30%{
    box-shadow: 0px 0px 15px 0px rgba(20, 152, 230, 1);
  }

  70% {
    box-shadow: 0px 0px 25px 0px rgba(20, 152, 230, 1);
  }

  100% {
    box-shadow: 0px 0px 35px 0px rgba(20, 152, 230, 1);
  }
}