* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body canvas {
  background: lightblue;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body input {
  position: absolute;
  width: calc(100% - 20px);
  height: 5vh;
  padding: 10px;
  margin: 10px;
  border-radius: 1rem;
  z-index: 100;
  background-color: whitesmoke;
  border: 1px solid blue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: none;
}

button {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateY(-80%);
  transform: translateX(-50%);
  background: transparent;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding: 1rem;
  min-width: 180px;
  z-index: 20;
}
button a {
  text-decoration: none;
  font-size: 1.3rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
}
button:hover {
  animation: grow 2s linear;
  animation-fill-mode: forwards;
}

@keyframes grow {
  0% {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }
  50% {
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  100% {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
  }

}